  body{
    overflow: hidden;
    background-color: rgb(36, 34, 34);
    font-size: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100vh;
    }

.flex-center{
    display: flex;
    justify-content: center;
   
}
#h3Text{
    margin-top: -30px;
}
#poleras{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 90%;
    margin: 5%;
    grid-gap: 30px;
 flex-wrap: wrap;
    align-content: flex-start;
}
#poleras figure{
    width: 100%;
    transition: all 300ms;
    position: relative;
}
#poleras figure:hover{
    transform: scale(1.15);
}

figure {
    position: relative;
    height: 100%;
    margin: 10px;
    width: 100%;
    overflow: hidden;
    border-radius: 6px ; 
    cursor: pointer;
    box-shadow: 7px 1px  50px  blueviolet;



}
#poleras figure img{
    width: 100%;
    height: 100%;


}
.capa{
    
    border-radius:6px ;
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: rgba(137, 43, 226, 0.186);
transition: all 500ms ease-out;
opacity: 0;
visibility: hidden;
text-align: center;
}
#poleras figure:hover >.capa{
    opacity: 1;
    visibility: visible;
}
#poleras figure:hover >.capa h3{

    margin-top: 5.625rem ;
    margin-bottom: 0.9375rem;
}

#poleras figure .capa h3{
    color: white;
    font-weight: 25rem;
    margin-bottom: 7.5rem;
    transition: all 500ms ease-out;
    margin-top: 1.875rem;
}
#poleras figure .capa p{
    color: white;
    font-size: 0.9375rem;
    line-height: 1.5;
    width: 100%;
    max-width: 13.75rem;
    margin: auto;
}
.boton{
    display: block;
    width: 50%;
    font-family: 'Prompt', sans-serif;
    font-weight: 43.75rem;
    background-color: blueviolet;
    border-radius: 15px;
    padding: 0.9375rem 1.875rem;
    transition: all 300ms;
    transform: translate(50%,9.375rem);

 text-align: center;
    color: black;
    text-decoration: none;
}.boton:hover{
    background-color: transparent;
    border: 2px solid blueviolet;
    color: white;
    
}
.mover{
transform: translate(9.375rem,0.9375rem)
}
.scalar{
    transform: scale(2.5);
}
@media(max-width:1200px){
 
#poleras2{
    transform: translate(-250%,-50%);
    height: 100px;
    width: 100px;
}
}

@media(max-width:976px){
    
}